.home-page {
    background-color: black;
    position: relative;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    z-index: 8;
    background-color: #000000;
}

.header button {
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.header button:hover {
    color: red;
}

.header img {
    max-width: 8%;
    height: auto;
    z-index: 1;
    background: transparent;
}

.body {
    position: relative;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}

.bodycontrol {
    position: relative;
    top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    gap: 2rem;
}

.odindiv {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0%;
    z-index: 0;
    background-color: transparent;
}

.odinBoss {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: 90%;
    z-index: 1;
    background-color: transparent;
}

.odin {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    height: auto;
    background: transparent;
}

.title {
    position: relative;
    top: -56%;
    margin-top: 10%;
    font-size: 60px;
    font-weight: 400;
    line-height: 72.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    background: transparent;
    -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
}

.body span {
    position: relative;
    top: -56%;
    font-family: 'Macondo';
    width: 30%;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.04px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.actions {
    position: relative;
    top: -4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background: transparent;
    position: relative;
    top: -56%;
    padding-bottom: 10px;
}

.actions :first-child {
    width: 140px;
    height: 42px;
    border: 3px solid rgba(53, 216, 36, 1);
    color: rgba(53, 216, 36, 1);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    background-color: #000000;
}

.actions :first-child:hover {
    background-color: rgba(53, 216, 36, 1);
    color: #000000;
}

.actions :nth-child(2) {
    color: #000000;
    width: 140px;
    height: 42px;
    background: rgba(53, 216, 36, 1);
    border: none;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.actions :nth-child(2):hover {
    background: #000000;
    color: rgba(53, 216, 36, 1);
    border: 3px solid rgba(53, 216, 36, 1);
}

.actions :nth-child(3) {
    width: 140px;
    height: 42px;
    background: rgba(41, 170, 225, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
}

.actions :nth-child(3):hover {
    background: white;
    color: rgba(41, 170, 225, 1);
    border: 3px solid rgba(41, 170, 225, 1);
}

.actions :last-child {
    width: 140px;
    height: 42px;
    border: 3px solid rgba(53, 216, 36, 1);
    color: rgba(53, 216, 36, 1);
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    background-color: black;
}

.actions :last-child:hover {
    background-color: rgba(53, 216, 36, 1);
    color: black;
}



.social-links {
    position: relative;
    top: -52%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background: transparent;
}

.social-links img {
    width: auto;
    height: auto;
    background: transparent;

}

.textAdd {
    width: 100%;
    height: 10%;
    position: relative;
    top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.textAdd :first-child {
    color: white;
    font-size: 18px;
    background: transparent;
    z-index: 1;
    font-family: "Macondo";
    font-size: 18px;
    margin-top: 0%;
    font-weight: 400;
    line-height: 11.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

.textAdd :last-child {
    color: rgba(53, 216, 36, 1);
    font-size: 18px;
    background: transparent;
    z-index: 1;
    margin-top: 0%;
    font-family: "Macondo";
    font-size: 18px;
    font-weight: 400;
    line-height: 11.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

@media (min-width: 1067px) and (max-width: 1820px) {
    .header {
        gap: 5rem;
    }

    .header button {
        font-size: 25px;
    }


    .header img {
        width: 5%;
    }

    .bodycontrol {
        top: -1%;
    }

    .title {
        top: -40%;
        font-size: 50px;
    }

    .body span {
        top: -45%;
        width: 37%;
        font-size: 22px;
        line-height: 43.04px;
        background-color: transparent;
    }

    .social-links {
        top: -50%;
    }

    .textAdd {
        top: -48%;
    }

    .actions {
        top: -50%;
    }

    .actions :nth-child(1) {
        width: 100px;
        height: 50px;
        font-size: 19px;
    }

    .actions :nth-child(2) {
        width: 100px;
        height: 50px;
        font-size: 19px;
    }

    .actions :nth-child(3) {
        width: 100px;
        height: 50px;
        font-size: 19px;
    }

    .actions :nth-child(4) {
        width: 100px;
        height: 50px;
        font-size: 19px;
    }



    .social-links img {
        width: 40px;
        height: 40px;
        background: transparent;
    }

    .textAdd :first-child {
        font-size: 20px;
    }

    .textAdd :last-child {
        font-size: 20px;
    }
}

@media (max-width: 391px) {
    .header {
        gap: 0.5rem;
        max-width: 100%;
    }

    .header button {
        font-size: 80%;
    }

    .header img {
        width: 14%;
    }

    .bodycontrol {
        left: 0%;
        top: 10px;
        gap: 2rem;
    }

    .title {
        top: 10px;
        z-index: 1;
        font-size: 25px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .body span {
        top: -50px;
        width: 55%;
        font-size: 100%;
        line-height: 23.04px;
        background-color: transparent;
    }

    .social-links {
        top: -100px;
        background-color: transparent;
        color: transparent;
    }

    .textAdd {
        top: -130px;
    }


    .textAdd :first-child {
        font-size: 12px;
    }

    .textAdd :last-child {
        font-size: 10px;
    }

    .social-links img {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }

    .actions {
        top: -70px;
        width: 70%;
        gap: 0.3rem;
        text-align: center;
    }

    .actions :nth-child(1) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        border: 2px solid rgba(53, 216, 36, 1);
        text-align: center;
    }

    .actions :nth-child(2) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        text-align: center;


    }

    .actions :nth-child(3) {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }

    .actions :nth-child(4) {
        width: 120px;
        height: 30px;
        font-size: 10px;
        border: 2px solid rgba(53, 216, 36, 1);
    }

    .odin {
        width: 45%;
        bottom: -7%;
    }



    .odinBoss {
        bottom: 200px;
        max-width: 100%;
        max-height: 100%;
        background-color: transparent;
    }
}

@media (min-width: 391px) and (max-width:480px) {
    .header {
        gap: 0.5rem;
        max-width: 100%;
    }

    .header button {
        font-size: 80%;
    }

    .header img {
        width: 14%;
    }

    .bodycontrol {
        left: 0%;
        gap: 2rem;
    }

    .title {
        top: 0px;
        font-size: 25px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .body span {
        top: -60px;
        width: 55%;
        font-size: 100%;
        line-height: 23.04px;
        background-color: transparent;
    }

    .social-links {
        top: -100px;
        background-color: transparent;
        color: transparent;
    }

    .textAdd {
        top: -130px;
    }


    .textAdd :first-child {
        font-size: 12px;
    }

    .textAdd :last-child {
        font-size: 10px;
    }

    .social-links img {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }

    .actions {
        top: -80px;
        width: 70%;
        gap: 0.1rem;
    }

    .actions :nth-child(1) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        border: 2px solid rgba(53, 216, 36, 1);
    }

    .actions :nth-child(2) {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }

    .actions :nth-child(3) {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }

    .actions :nth-child(4) {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }

    .odin {
        width: 45%;
        bottom: -10%;
    }


    .odinBoss {
        bottom: 150px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 500px) {
    .header {
        gap: 0.5rem;
        max-width: 100%;
    }

    .header button {
        font-size: 80%;
    }

    .header img {
        width: 14%;
    }

    .bodycontrol {
        left: 0%;
        gap: 2rem;
    }

    .title {
        top: -40px;
        font-size: 25px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .body span {
        top: -90px;
        width: 55%;
        font-size: 100%;
        line-height: 23.04px;
        background-color: transparent;
    }

    .social-links {
        top: -120px;
        background-color: transparent;
        color: transparent;
    }

    .textAdd {
        top: -130px;
    }


    .textAdd :first-child {
        font-size: 12px;
    }

    .textAdd :last-child {
        font-size: 10px;
    }

    .social-links img {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }

    .actions {
        top: -100px;
        width: 70%;
        gap: 0.1rem;
    }

    .actions :nth-child(1) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        border: 2px solid rgba(53, 216, 36, 1);
        padding-bottom: 5px;
        text-align: center;
    }

    .actions :nth-child(2) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        padding: 1px;
        text-align: center;


    }

    .actions :nth-child(3) {
        width: 120px;
        height: 30px;
        font-size: 11px;
        text-align: center;
        border: 2px solid transparent;


    }

    .actions :nth-child(4) {
        width: 120px;
        height: 30px;
        font-size: 10px;
        border: 2px solid rgba(53, 216, 36, 1);
        padding-bottom: 5px;
        text-align: center;


    }

    .odin {
        width: 45%;
        bottom: -12%;
    }


    .odinBoss {
        bottom: 50px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .header {
        gap: 0.5rem;
    }

    .odin {
        width: 35%;
        bottom: -12%;
    }

    .header button {
        font-size: 15px;

    }

    .header img {
        width: 7%;
    }

    .bodycontrol {
        left: 0%;
        top: -50px;
    }

    .title {
        top: -40%;
        font-size: 30px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .body span {
        top: -45px;
        width: 55%;
        font-size: 14px;
        line-height: 33.04px;
        background-color: transparent;
    }

    .social-links {
        top: -80px;
    }

    .textAdd {
        top: -97px;
    }

    .textAdd :first-child {
        font-size: 14px;
    }

    .textAdd :last-child {
        font-size: 14px;
    }

    .social-links img {
        width: 30px;
        height: 30px;
    }

    .actions {
        top: -50px;
        width: 55%;
    }

    .actions :nth-child(1) {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .actions :nth-child(2) {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .actions :nth-child(3) {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .actions :nth-child(4) {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }


}

@media (min-width: 700px) and (max-width: 850px) {
    .header {
        gap: 1rem;
    }

    .header button {
        font-size: 20px;
    }

    .header img {
        width: 10%;
    }

    .bodycontrol {
        left: 0%;
        top: -60px;
    }

    .title {
        top: 5%;
        font-size: 40px;
    }

    .body span {
        top: -50px;
        width: 40%;
        font-size: 22px;
        line-height: 33.04px;
        background-color: transparent;
    }

    .social-links {
        top: -70px;
    }

    .social-links img {
        width: 37px;
        height: 38px;
    }

    .textAdd {
        top: -90px;
    }

    .actions {
        top: -50px;
        width: 55%;
    }

    .actions :nth-child(1) {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }

    .actions :nth-child(2) {
        width: 120px;
        height: 40px;
        font-size: 15px;

    }

    .actions :nth-child(3) {
        width: 120px;
        height: 40px;
        font-size: 15px;

    }

    .actions :nth-child(4) {
         width: 120px;
        height: 40px;
        font-size: 15px;
    }

    .odin {
        width: 30%;
        bottom: -10%;
    }

    .odindiv {
        top: 30px;
    }
}

@media (min-width: 850px) and (max-width: 1266px) {
    .header {
        gap: 1.5rem;
    }

    .header button {
        font-size: 20px;

    }

    .header img {
        width: 7%;
    }

    .bodycontrol {
        top: -130px;
        gap: 3rem;
    }

    .title {
        top: -45%;
        font-size: 40px;
    }

    .body span {
        top: -55px;
        width: 37%;
        font-size: 24px;
        line-height: 33.04px;
        background-color: transparent;
    }

    .social-links {
        top: -67px;
    }

    .textAdd {
        top: -77px;
    }

    .actions {
        top: -50px;
        width: 50%;
    }

    .odin {
        max-width: 320px;
        bottom: -10%;
    }
    .odindiv {
        height: 800px;
        top: 0px;
    }

}

@media (min-width: 1266px) and (max-width: 1620px) {
    .header {
        gap: 6rem;
        height: 100px;
    }

    .header button {
        font-size: 30px;

    }

    .header img {
        width: 10%;
    }

    .bodycontrol {
        gap: 3rem;
        top: -150px;
    }
    .odindiv {
        height: 800px;
        top: 100px;
    }
    .title {
        top: -40%;
        font-size: 60px;
    }

    .body span {
        top: -55px;
        width: 37%;
        font-size: 32px;
        line-height: 43.04px;
        background-color: transparent;
    }

    .social-links {
        top: -84px;
    }

    .textAdd {
        top: -100px;
    }

    .actions {
        top: -50px;
    }

    .actions :nth-child(1) {
        width: 150px;
        height: 50px;
        font-size: 29px;
    }

    .actions :nth-child(2) {
        width: 150px;
        height: 50px;
        font-size: 29px;
    }

    .actions :nth-child(3) {
        width: 150px;
        height: 50px;
        font-size: 29px;
    }

    .actions :nth-child(4) {
        width: 150px;
        height: 50px;
        font-size: 29px;
    }


    .odin {
        width: 400px;
        bottom: -10%;
    }

    .social-links img {
        width: 70px;
        height: 70px;
        background: transparent;
    }
    
    .textAdd :first-child {
        font-size: 30px;
    }
    
    .textAdd :last-child {
        font-size: 30px;
    }
}
    
    @media (min-width: 1620px) and (max-width: 1966px) {
        .header {
            gap: 4rem;
            height: 100px;
        }
    
        .header button {
            font-size: 30px;
    
        }
    
        .header img {
            width: 5%;
        }
    
        .bodycontrol {
            top: -200px;
        }
    
        .title {
            top: -25px;
            font-size: 50px;
        }
    
        .body span {
            top: -50px;
            width: 37%;
            font-size: 28px;
            line-height: 33.04px;
            background-color: transparent;
        }
    
        .social-links {
            top: -50px;
        }
    
        .textAdd {
            top: -47px;
        }
    
        .actions {
            top: -50px;
            width: 50%;
        }
    
        .odin {
            width: 400px;
            bottom: -10%;
        }
        .odindiv {
            height: 800px;
            top: 100px;
        }
        .textAdd {
            top: -70px;
        }
    
    } 

@media (min-width: 1921px)  {
    .header {
        gap: 10rem;
        height: 150px;
    }

    .header button {
        font-size: 45px;

    }

    .header img {
        width: 5%;
    }

    .bodycontrol {
        gap: 6rem;
        top: -200px;
    }

    .title {
        top: -40%;
        font-size: 60px;
        -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
        font-weight: 500;

    }

    .body span {
        top: -100px;
        width: 27%;
        font-size: 37px;
        line-height: 43.04px;
        background-color: transparent;
    }

    .social-links {
        top: -154px;
    }

    .textAdd {
        top: -150px;
    }

    .actions {
        top: -105px;
    }

    .actions :nth-child(1) {
        width: 170px;
        height: 70px;
        font-size: 31px;
    }

    .actions :nth-child(2) {
        width: 170px;
        height: 70px;
        font-size: 31px;
    }

    .actions :nth-child(3) {
        width: 170px;
        height: 70px;
        font-size: 31px;
    }

    .actions :nth-child(4) {
        width: 170px;
        height: 70px;
        font-size: 31px;
    }

    .odin {
        width: 500px;
        bottom: -10%;
    }
    .odindiv {
        height: 800px;
        top: 100px;
    }

    .social-links img {
        width: 80px;
        height: 80px;
        background: transparent;
    }

    .textAdd :first-child {
        font-size: 30px;
    }

    .textAdd :last-child {
        font-size: 30px;
    }
}