.faq-page {
    width: 100%;
    background: black;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
    margin-top: 15%;
}

.faq-title {
    padding-top: 3%;
    font-size: 100px;
    font-weight: bold;
    color: #009a0d;
    text-align: center;
    background: transparent;
    background-color: transparent;
    color: black;
    -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
}

.faq-items {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 18%;
    background: transparent;

}

.faq-item {
    width: 40%;
    text-align: left;
    background: transparent;

}



.faq-item-title {
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 10px;
    background: transparent;

}

.faq-item-text {
    width: 70%;
    font-size: 46px;
    line-height: 60px;
    font-family: "Macondo";
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: transparent;


}

.social-section {
    padding-left: 9%;
    text-align: center;
    margin-top: 100px;
    background: transparent;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    background: transparent;

}

.social-icons img {
    width: 120px;
    height: 120px;
    background: transparent;
    transition: transform 0.3s ease;
}


.social-text {
    background: transparent;
    font-size: 46px;
    color: #aaa;
    font-family: "Macondo";
}

@media (min-width: 1000px) and (max-width: 2100px) {
    .social-text {
        font-size: 20px;
    }

    .social-icons img {
        width: 60px;
        height: 60px;
    }

    .faq-item-text {
        font-size: 20px;
    }

    .faq-item-title {
        font-size: 30px;
    }

    .faq-title {
        font-size: 60px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {

    .social-text {
        font-size: 15px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .faq-item-text {
        font-size: 15px;
        line-height: 30px;

    }

    .faq-item-title {
        font-size: 25px;
    }

    .faq-title {
        font-size: 50px;
    }
    .faq-item {
        width: 50%;
    }
}
@media (min-width: 500px) and (max-width: 700px) {

    .social-text {
        font-size: 15px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .faq-item-text {
        font-size: 15px;
        line-height: 30px;

    }

    .faq-item-title {
        font-size: 25px;
    }

    .faq-title {
        font-size: 50px;
    }
    .faq-item {
        width: 50%;
    }
}

@media (min-width: 500px) and (max-width: 600px) {

    .social-text {
        font-size: 15px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .faq-item-text {
        font-size: 15px;
        line-height: 30px;

    }

    .faq-item-title {
        font-size: 20px;
    }

    .faq-title {
        font-size: 50px;
    }
    .faq-item {
        width: 50%;
    }
}

@media (min-width: 400px) and (max-width: 500px) {

    .social-text {
        font-size: 13px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .faq-item-text {
        font-size: 13px;
        line-height: 20px;

    }

    .faq-item-title {
        font-size: 15px;
    }

    .faq-title {
        font-size: 30px;
        -webkit-text-stroke: 0.1px rgba(53, 216, 36, 1);

    }
    .faq-item {
        width: 50%;
    }
}