.roadmap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.roadback {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    background: transparent;

}

.headerr {
    background: transparent;
    z-index: 6;
    position: relative;
    top: 0%;

}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
    background: linear-gradient(180deg, #000000 40.2%, rgba(1, 1, 1, 0) 100%);
}

.headerr h1 {
    font-size: 100px;
    font-weight: 500;
    color: #009a0d;
    text-align: center;
    margin-top: 20px;
    background: transparent;
    background-color: transparent;
    color: black;
    -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
    z-index: 6;
}

.roadmap-items {
    position: relative;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background: transparent;
    z-index: 1;

}

.roadmap-item {
    width: 20%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;

}

.roadmap-item h3 {
    font-size: 94px;
    font-weight: 600;
    color: #ffffff;
    font-weight: 400;
    line-height: 29.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: transparent;


}

.roadmap-item img {
    width: 60%;
    height: auto;
    border-radius: 4px;
    position: relative;
    left: 25%;
    background: transparent;

}

.roadmap-item p {
    font-size: 16px;
    color: #555;
    background: transparent;

}

.roadmap-item ul {
    position: relative;
    bottom: 10%;
    padding: 0;
    margin: 0;
    text-align: left;
    background: transparent;


}

.roadmap-item ul li {
    font-family: 'Macondo';
    font-size: 37px;
    color: #ffffff;
    margin-bottom: 5px;
    background: transparent;

}


@media (min-width: 1067px) and (max-width: 1820px) {

    .roadmap-item ul li {
        font-size: 16px;

    }

    .roadmap-item img {
        position: relative;
        width: 50%;
        left: 25%;
    }

    .roadmap-item h3 {
        font-size: 30px;
    }

    .roadmap-item {
        position: relative;
        top: 1%;
        width: 25%;
    }

    .gradient {
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
        z-index: 0;
    }



    .headerr h1 {
        font-size: 50px;
        z-index: 5;
    }

    .headerr {
        position: relative;
        top: 0%;
        font-size: 50px;
        z-index: 1;
    }

    .roadback {
        height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .roadmap-item ul li {
        font-size: 11px;

    }

    .roadmap-item img {
        position: relative;
        width: 80%;
        left: 10%;
        top: -10%;
    }

    .roadmap-item h3 {
        font-size: 20px;
    }

    .roadmap-item {
        position: relative;
        top: 1%;
        width: 25%;
    }

    .gradient {
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }



    .headerr h1 {
        z-index: 5;
        font-size: 40px;
        font-weight: 400;

    }

    .headerr {
        position: relative;
        top: 10%;
        font-size: 50px;
    }

    .roadback {
        height: 100%;
    }
}

@media (max-width: 480px) {

    .roadmap-item ul li {
        font-size: 11px;
        width: 100%;
        line-height: 15px;
    }

    .roadmap-item img {
        position: relative;
        width: 100%;
        left: 10%;
        top: 0%;
    }

    .roadmap-items {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 0.1rem;
        z-index: 1;


    }

    .roadmap-item h3 {
        position: relative;
        font-size: 20px;
    }

    .roadmap-item {
        position: relative;
        top: 0%;
        width: 30%;
    }

    .gradient {
        z-index: 0;
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }



    .headerr h1 {
        -webkit-text-stroke: 0.5px rgba(53, 216, 36, 1);
        font-size: 40px;
        z-index: 5;
    }

    .headerr {
        position: relative;
        top: -5%;
        z-index: 5;
    }

    .roadback {
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .roadmap-item ul li {
        font-size: 19px;

    }

    .roadmap-item img {
        position: relative;
        width: 80%;
        left: 10%;
        top: -10%;
    }

    .roadmap-item h3 {
        font-size: 35px;
    }

    .roadmap-item {
        position: relative;
        top: 1%;
        width: 25%;
    }

    .roadback {
        height: 100%;
    }

    .gradient {
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }


    .headerr h1 {
        z-index: 5;
        font-size: 40px;
    }

    .headerr {
        position: relative;
        top: 5%;
        font-size: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {

    .roadmap-item ul li {
        font-size: 22px;

    }

    .roadback {
        height: 100%;
    }

    .roadmap-item img {
        position: relative;
        width: 80%;
        left: 10%;
        top: -10%;
    }

    .roadmap-item h3 {
        font-size: 40px;
    }

    .roadmap-item {
        position: relative;
        top: 1%;
        width: 25%;
    }

    .gradient {
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }


    .headerr h1 {
        font-size: 50px;
        z-index: 5;
    }

    .headerr {
        position: relative;
        top: 0%;
        font-size: 50px;
        z-index: 1;
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {

    .roadmap-item ul li {
        font-size: 30px;

    }

    .roadback {
        height: 100%;
    }

    .roadmap-item img {
        position: relative;
        width: 80%;
        left: 10%;
        top: -10%;
    }

    .roadmap-item h3 {
        font-size: 40px;
    }

    .roadmap-item {
        position: relative;
        top: 10%;
        width: 25%;
    }

    .gradient {

        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }


    .headerr h1 {
        font-size: 50px;
        z-index: 5;
    }

    .headerr {
        position: relative;
        top: 0%;
        font-size: 50px;
    }
}

@media (min-width: 1921px) {

    .roadmap-item ul li {
        font-size: 35px;

    }

    .roadback {
        height: 100%;
    }

    .roadmap-item img {
        position: relative;
        width: 80%;
        left: 10%;
        top: -10%;
    }

    .roadmap-item h3 {
        font-size: 40px;

    }

    .roadmap-item {
        position: relative;
        top: 10%;
        width: 25%;
    }

    .gradient {
        background: linear-gradient(180deg, #000000 10.2%, rgba(1, 1, 1, 0) 100%);
    }


    .headerr h1 {
        font-size: 60px;
        z-index: 5;
        -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
        font-weight: 500;

    }

    .headerr {
        position: relative;
        top: 0%;
        font-size: 50px;
    }
}