.token-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background: transparent;

}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: transparent;
    position: relative;
}


.center-content {
    width: 40%;
}

.center-content :nth-child(2) {
    color: white;
    font-size: 18px;
    margin-top: -20px;
    background: transparent;


}

.center-content :nth-child(3) {
    color: rgba(53, 216, 36, 1);
    font-size: 18px;
    background: transparent;


}

.center-content h2 {
    margin-top: 10%;
    font-size: 52px;
    font-weight: 400;
    line-height: 38.84px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 3px rgba(53, 216, 36, 1);
    background: transparent;

}

.center-content p {
    font-family: 'Macondo';
    font-size: 24px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    margin: 5px 0;
    background-color: transparent;
}

.section-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background: transparent;

}

.left-side {
    width: 100%;
    background: transparent;
    left: 0%;
    bottom: -10%;
}

.left-side img {
    width: 20%;
    position: absolute;
    background: transparent;

}

.right-side {
    width: 100%;
    background: transparent;
    bottom: 0%;

}

.right-side img {
    width: 20%;
    position: absolute;
    background: transparent;
    right: 0%;

}


@media (min-width: 1067px) and (max-width: 1820px) and (min-height: 500px) and (max-height: 1000px) {
    .center-content h2 {
        font-size: 32px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);

    }

    .center-content p {
        font-size: 22px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 18px;
        margin-top: -30px;
        background: transparent;
    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 18px;
        background: transparent;
    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .center-content h2 {
        font-size: 32px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .center-content p {
        font-size: 15px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 18px;
        margin-top: -20px;
        background: transparent;
    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 13px;
        margin-left: -30%;
        background: transparent;
    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 35%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 35%;

    }
}

@media (max-width: 480px),
(max-height: 600px) {
    .center-content h2 {
        font-size: 28px;
        -webkit-text-stroke: 1px rgba(53, 216, 36, 1);
    }

    .center-content p {
        font-size: 12px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 14px;
        margin-top: -20px;
        background: transparent;
    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 11px;
        margin-left: -25%;
        background: transparent;
    }

    .left-side img {
        float: left;
        bottom: 0%;
        width: 30%;
    }


    .right-side img {
        float: right;
        bottom: 0%;
        width: 30%;
    }
}


@media (min-width: 769px) and (max-width: 1024px),
(min-height: 860px) and (max-height: 1024px) {
    .center-content h2 {
        font-size: 42px;
    }

    .center-content p {
        font-size: 26px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 24px;
        margin-top: -20px;
        background: transparent;
    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 16px;
        margin-left: -40%;
        background: transparent;
    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 30%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 30%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 900px) {
    .center-content h2 {
        font-size: 42px;
    }

    .center-content p {
        font-size: 22px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 18px;
        margin-top: -20px;
        background: transparent;
    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 18px;
        background: transparent;
    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}

@media (min-width: 1367px) and (max-width: 1920px) and (min-height: 900px) and (max-height: 1080px) {
    .center-content h2 {
        font-size: 52px;
    }

    .center-content p {
        font-size: 32px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 28px;
        margin-top: -20px;
        background: transparent;


    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 28px;
        background: transparent;


    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}

@media (min-width: 1921px) and (min-height: 1081px) {
    .center-content h2 {
        font-size: 52px;
    }

    .center-content p {
        font-size: 35px;
    }

    .center-content :nth-child(2) {
        color: white;
        font-size: 35px;
        margin-top: -20px;
        background: transparent;


    }

    .center-content :nth-child(3) {
        color: rgba(53, 216, 36, 1);
        font-size: 28px;
        background: transparent;


    }

    .left-side img {
        position: absolute;
        left: 0%;
        bottom: 0%;
    }


    .right-side img {
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}